@font-face {
	font-family: "Aquaa";
	src: url("../../assets/fonts/aqua.ttf");
}

* {
	font-family: "Aquaa";
	box-sizing: border-box;
	margin: 0;
}

.landing-title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	width: 100%;
	margin-top: 70%;
}
.landing-page {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #2ea8ff;
	z-index: -10;
}
