@font-face {
	font-family: "Aquaa";
	src: url("../../assets/fonts/aqua.ttf");
}

* {
	font-family: "Aquaa";
	box-sizing: border-box;
	margin: 0;
}

.landing-title {
	position: absolute;

	color: white;
	font-size: 5rem;

	left: 50%;
	bottom: 20%;
	transform: translate(-50%, -50%);
	z-index: 100;
}
