@font-face {
	font-family: "Aquaa";
	src: url("../assets/fonts/aqua.ttf");
}

* {
	font-family: "Aquaa";
	box-sizing: border-box;
	margin: 0;
}

.landing-title {
	position: absolute;
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	top: 55%;
	width: 100%;
}
.landing-page {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #2a6db8;
	z-index: -100;
}
@media only screen and (max-width: 767px) {
	.landing-title {
		font-size: 3rem;
		top: 45%;
	}
}
