.music-page-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	height: 100%;
	margin: 0 3rem;
}
.music-page-container li {
	list-style: none;
}
.music-link-icon {
	min-width: 8rem;

	color: white;
}
.music-link-container {
	grid-area: 1 / 1 / 2 / 4;
	background-color: pink;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	padding: 2rem;
}
.connect-container {
	grid-area: 2 / 3 / 4 / 4;
}
.featured-container {
	grid-area: 2 / 1 / 4 / 3;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2rem;
}
.featured-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: yellow;
}
.featured-description {
	margin-left: 1rem;
}
.featured-title {
	text-align: center;
	margin-block: 2rem;
}
.featured-content {
	display: flex;
}
.featured-content img {
	width: 50%;
}
.featured-links {
	margin-top: 1rem;
}
.connect-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: green;
}
.connect-header {
	margin-block: 2rem;
}
