/* TODO: Implement this as the new grid */
.music-page-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	overflow-y: hidden;
	overscroll-behavior-y: auto;
}

.featured {
	grid-area: 1 / 1 / 2 / 3;
}
.streaming {
	grid-area: 2 / 1 / 3 / 3;
}
.news {
	grid-area: 3 / 1 / 4 / 3;
}
.my-music {
	grid-area: 1 / 3 / 4 / 4;
}

/* TODO: Implement this as the new grid */

/* Styles for the music link icon */
.music-link-icon {
	margin-inline: 4rem;
	color: white;
}

.section-title {
	text-align: center;
	width: 100%;
	font-size: 3rem;
	color: white;
}
.catalog-container {
	height: 90%;
}
/* Mobile styles */
@media only screen and (max-width: 767px) {
	.music-page-container {
		display: flex;
		flex-direction: column;
		border: 2px solid red;
		overflow-y: auto;
		overscroll-behavior-y: auto;
		width: 100%;
	}
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.music-page-container {
		overflow-y: auto;
		border: 2px solid red;
		padding-inline: 1em;
	}
}

/* Small desktop styles */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	.music-page-container {
		overflow-y: auto;
		border: 2px solid red;
		padding-inline: 4em;
	}
}

/* Large desktop styles */
@media only screen and (min-width: 1680px) {
	.music-page-container {
		overflow-y: auto;
		padding-inline: 4em;
	}
}
