.navbar {
	background-color: var(--primary);
	border-bottom: solid 1px #fff;
	width: 100%;
	height: fit-content;
	min-height: 4rem;

	display: flex;
	align-items: center;
}
.links-container {
	width: 100%;
	display: flex;
}
.links-container .links {
	width: 100%;
	display: flex;
	justify-content: center;
}
.hamburger-button {
	color: white;
	width: fit-content;
	height: 3rem;
	margin-right: 1rem;
	margin-top: 0.25rem;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
@media only screen and (max-width: 767px) {
	.navbar {
		padding-bottom: 2rem;
	}
	.links-container {
		display: none;
	}
	.links-container .links {
		margin-block: 1rem;
	}
	#dropdown-hidden {
		display: none;
	}
	#dropdown-visible {
		display: flex;
		flex-direction: column;
		top: 10rem;
		margin-top: 4rem;
	}
	.hamburger-button {
		display: flex;
	}
}
