.navbar {
	background-color: var(--primary);
	border-bottom: solid 1px #fff;
	width: 100%;
	height: fit-content;
	min-height: 4rem;

	display: flex;
	align-items: center;
}
.links-container {
	width: 100%;
	display: flex;
}
.links-container .links {
	width: 100%;
	display: flex;
	justify-content: center;
}
.hamburger-button {
	color: white;
	width: fit-content;
	height: 3em;
	width: 3em;
	margin: 1em;
	right: 0;
	top: 0;
	display: none;
}
@media only screen and (max-width: 767px) {
	.navbar {
		justify-content: flex-end;
	}
	.links-container {
		display: none;
	}
	.links-container .links {
		margin-block: 1rem;
	}
	#dropdown-hidden {
		display: none;
	}
	#dropdown-visible {
		display: flex;
		flex-direction: column;

		margin-top: 4.5rem;
		padding-bottom: 2em;
	}
	.hamburger-button {
		display: flex;
	}
}
