.nav {
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary);
	min-height: 5rem;
	border-bottom: #fff 1px solid;
	display: flex;
}
.hamburger {
	display: none;
}

.nav-container {
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 6rem;
	color: #fff;
}
@media only screen and (max-width: 767px) {
	.nav-container {
		align-items: flex-end;
		padding: 1rem 2rem;
		justify-content: flex-end;
		color: #fff;
	}
	.navlink {
		display: none;
	}
	.hamburger {
		display: block;
		width: 6rem;
		padding: 0.5rem;
		stroke-width: 1;
	}
}
