:root {
	/* --secondary: #afdcff; */
	/* --primary: #0052be; */
	--secondary: #2a6db8;
	/* --primary: #0052be; */
	--primary: #0e2743;
}

a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

@font-face {
	font-family: "alt-header";
	src: url("./assets/Branch\ -\ Elegant\ Ligature\ Font/Branch.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}
.card {
	/* background: rgba(14, 39, 67, 0.2); */
	/* box-shadow: 2px 2px 4px 0 rgba(17, 19, 35, 0.37); */
	/* border: 1px solid white; */
	/* backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px); */
}
