.form-container {
	display: flex;
	flex-direction: column;
	display: flex;
	flex-direction: column;
	background-color: gray;
	align-items: flex-start;
	width: fit-content;
	padding: 1rem;
	border-radius: 6px;
}
.form-container > div {
	display: flex;
	flex-direction: column;
}

.form-container div * {
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	border-style: none;
}

.header {
	color: black;
}
