:root {
	/* --secondary: #afdcff; */
	/* --primary: #0052be; */
	--secondary: #2a6db8;
	/* --primary: #0052be; */
	--primary: #0e2743;
}

a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

@font-face {
	font-family: "alt-header";
	src: url("./assets/Branch\ -\ Elegant\ Ligature\ Font/Branch.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}
.card {
	background: var(--primary);
	/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}
